# continue, break문 예제

## For문과 continue

In [3]:
# 학생들의 점수가 담긴 리스트에서 60점 이상인 학생만 합격으로 처리하고, 그렇지 않은 경우는 무시

marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number += 1
    if mark < 60:
        continue
    print(f"{number}번 학생 축하합니다. 합격입니다.")

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

## For문과 break

In [1]:
# 학생들의 점수를 순차적으로 확인하다가, 첫 번째로 60점 미만인 학생을 만나면 반복을 중단

marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number += 1
    if mark < 60:
        print(f"{number}번 학생에게 불합격 통지를 보냅니다.")
        continue

2번 학생에게 불합격 통지를 보냅니다.
4번 학생에게 불합격 통지를 보냅니다.

## While문과 continue

In [2]:
marks = [90, 25, 67, 45, 80]

number = 0
index = 0
while index < len(marks):
    mark = marks[index]
    number += 1
    index += 1
    if mark < 60:
        continue
    print(f"{number}번 학생 축하합니다. 합격입니다.")

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

## While문과 break

In [7]:
marks = [90, 25, 67, 45, 80]

number = 0
index = 0
while index < len(marks):
    mark = marks[index]
    number += 1
    index += 1
    if mark < 60:
        print(f"{number}번 학생에게 불합격 통지를 보냅니다.")
        break

2번 학생에게 불합격 통지를 보냅니다.

# 연습문제

## For문

### 1-1번. for문을 이용하여 1부터 10까지 num 리스트에 추가하세요.

In [ ]:
num = []
for i in range(1, 11):
    num.append(i)
    print(num)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num = [i for i in range(1,11)]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 1-2번. for문을 이용하여 10부터 1까지 역순으로 reverse_num 리스트에 추가하세요.

In [ ]:
reverse_num = []
for i in range(10, 0, -1):
    reverse_num.append(i)
    print(reverse_num)

[10]
[10, 9]
[10, 9, 8]
[10, 9, 8, 7]
[10, 9, 8, 7, 6]
[10, 9, 8, 7, 6, 5]
[10, 9, 8, 7, 6, 5, 4]
[10, 9, 8, 7, 6, 5, 4, 3]
[10, 9, 8, 7, 6, 5, 4, 3, 2]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
num = [i for i in range(10, 0, -1)]
num

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 2. for문을 이용하여 'Orange' 문자열을 한칸씩 공백을 두고 차례로 출력하세요.

In [ ]:
for i in 'Orange':
    print(i, end=' ')

O r a n g e

In [ ]:
word = 'Orange'

result = ""
for char in word:
    result += char + " "

### 3. for문을 이용하여 info 딕셔너리의 key, value를 아래와 같이 출력하세요.

- 딕셔너리 </br>
info = {'name':'tom', 'math':80, 'english':70}

- 출력 화면 </br>
name:tom </br>
math:80 </br>
english:70 </br>

In [ ]:
info = {"name":"tom", "math":80, "english":70}
for i in info:
    print(i, end=":") # key 출력
    print(info[i]) # value 출력

name:tom
math:80
english:70

In [ ]:
info = {'name': 'tom', 'math': 80, 'english': 70}

for key, value in info.items(): #.items()는 딕셔너리 객체의 메서드
    print(f"{key}:{value}")

name:tom
math:80
english:70

### 4-1. for문을 이용하여 fruits 리스트의 요소를 차례로 출력하세요.

- 리스트 </br>
fruits = ['딸기', '당근', '수박', '참외', '메론']

In [ ]:
fruits = ['딸기', '당근', '수박', '참외', '메론']

for fruit in fruits:
  print(fruit)

딸기
당근
수박
참외
메론

### 4-2. for문과 enumerate를 이용하여 fruits 리스트의 각 인덱스와 요소를 함께 출력하세요.

- 출력 화면</br>
1:딸기
2:당근
3:수박
4:참외
5:메론

In [ ]:
fruits = ['딸기', '당근', '수박', '참외', '메론']

for idx, val in enumerate(fruits):
    print(idx, val, sep=":")

0:딸기
1:당근
2:수박
3:참외
4:메론

### 5. for문을 사용하여 입력한 숫자 만큼 '바보'를 출력하세요.

In [1]:
count = int(input('숫자 입력: '))
for i in range(count):
    print('바보')

바보
바보
바보

### 6. for문을 이중으로 사용하여 다음과 같이 출력 화면을 완성하세요.

- 출력 화면 </br>
  1</br>
  22</br>
  333</br>
  4444</br>
  55555</br>
  666666</br>
  7777777</br>
  88888888</br>
  999999999</br>

In [2]:
for i in range(1, 10): # 10-1 = 9
    for j in range(1, i+1): 
        print(i, end='')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

## While문

### 1. while문을 사용하여 1부터 10까지 num 리스트에 추가하세요.

In [ ]:
num = []

i = 1
while i < 11:
    num.append(i)
    i += 1
    print(num)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2-1. while문을 사용하여 입력한 숫자만큼 '바보'를 출력하세요.

In [ ]:
count = int(input('숫자 입력:'))

i = 0
while i < count:
    print("바보")
    i += 1

숫자 입력:3
바보
바보
바보

### 2-2. while문을 사용하여 지정한 숫자를 입력하면 반복을 중단시키세요.

In [ ]:
i = 0
while i != 5:
    i = int(input("5를 입력하면 반복이 중단됩니다. :"))
print("중단!")

5를 입력하면 반복이 중단됩니다. :2
5를 입력하면 반복이 중단됩니다. :1
5를 입력하면 반복이 중단됩니다. :2
5를 입력하면 반복이 중단됩니다. :1
5를 입력하면 반복이 중단됩니다. :5
중단!

# 활용 문제

## For문

### 1. 숫자를 입력받고 난 후, 입력받은 정수의 구구단을 출력하세요.

In [ ]:
num = int(input("몇단을 출력하시겠습니까? "))

for i in range(1, 10) :
    result = i * num
    print("{} * {} = {}".format(num, i, result))

몇단을 출력하시겠습니까? 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

### 2. word = ["school", "game", "piano", "Science", "hotel", "mountain"] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요.

In [5]:
word = ["school", "game", "piano", "Science", "hotel", "mountain"]

new_list = []

for i in word : 
    if 6 <= len(i) : # len : 문자열의 길이
        new_list.append(i) # append : 나열
    else :
        pass

print(new_list)

['school', 'Science', 'mountain']

## While 문

### 1.사용자로부터 숫자를 계속 입력받다가 0을 입력하면 합계를 출력해주세요.

In [ ]:
sum = 0
i = 1

while i != 0:
    i = int(input("값을 입력해주세요 : "))
    sum += i

print("합계는? ", sum)

값을 입력해주세요 : 12
값을 입력해주세요 : 3
값을 입력해주세요 : 1
값을 입력해주세요 : 4
값을 입력해주세요 : 0
합계는?  20

### 2. 컴퓨터와 가위바위보를 하는 게임을 만들어 보세요. </br>(단, 사용자로부터 계속 입력 받다가 0을 입력하면 게임을 종료하고, 컴퓨터는 랜덤으로 가위, 바위, 보를 냅니다.)

In [ ]:
import random

all_cnt = 0  # 전체 게임 횟수
win_cnt = 0  # 승리 횟수

i = None  # 사용자의 입력을 저장할 변수, 초기값을 None으로 설정

# 사용자가 0을 입력할 때까지 게임을 계속 진행
while i != 0:
    i = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 (게임 종료는 0): "))
    if i == 0:  # 사용자가 0을 입력한 경우 게임 종료
        break  # while 루프 종료

    j = random.randint(1,3)  # 컴퓨터의 선택 (1: 가위, 2: 바위, 3: 보)
    print(f"유저 : {i}, 컴퓨터 : {j}")
    all_cnt += 1  # 게임 횟수 증가

    # 승리 조건 검사
    if ((i == 1)and(j == 3)) or ((i == 2)and(j == 1)) or ((i == 3)and(j == 2)):
        win_cnt += 1  # 승리 횟수 증가

# 게임이 종료되면 결과 출력
print(f"게임종료 (전체:{all_cnt}, 승리:{win_cnt})")

가위(1), 바위(2), 보(3) 을 입력해주세요 : 3
유저 : 3, 컴퓨터 : 1
가위(1), 바위(2), 보(3) 을 입력해주세요 : 2
유저 : 2, 컴퓨터 : 2
가위(1), 바위(2), 보(3) 을 입력해주세요 : 1
유저 : 1, 컴퓨터 : 3
가위(1), 바위(2), 보(3) 을 입력해주세요 : 3
유저 : 3, 컴퓨터 : 3
가위(1), 바위(2), 보(3) 을 입력해주세요 : 2
유저 : 2, 컴퓨터 : 1
가위(1), 바위(2), 보(3) 을 입력해주세요 : 1
유저 : 1, 컴퓨터 : 3
가위(1), 바위(2), 보(3) 을 입력해주세요 : 0
유저 : 0, 컴퓨터 : 2
게임종료 (전체:7, 승리:3)